PRE {
  font-size:9pt;
}

.mono {
  font-family:monospace;
  font-size:9pt;
}
 
.head {
  font-weight:bold;
}
 
.subdir-top {
  border-top:1px solid #CCC;  
  margin-top:8px; 
  margin-bottom:2px;
}

.subdir-bottom {
  border-top:1px solid #CCC;  
  margin-top:4px; 
  margin-bottom:8px;
}

.grayline {
  border-top:1px solid #CCC;  
  margin-top:4px; 
  margin-bottom:4px;
}

.td-linetop {
  border-top:1px solid #BBB;  
}

.td-dashtop {
  border-top:1px dotted #CCC;
  background-color: #F0F0F0;
}

.td-linetopleft {
  border-top:1px solid #BBB;  
  border-left:1px solid #BBB;  
}

.td-dashtopleft {
  border-top:1px dotted #CCC;  
  border-left:1px solid #BBB;  
  background-color: #F0F0F0;
}

.td-linebottomrt {
  border-bottom:1px solid #BBB;  
  border-right:1px solid #BBB;  
}

.td-function {
  border-top:1px solid #CCC;  
  border-left:1px solid #BBB;  
  background: #F0F8FF;
}

.td-script {
  border-top:1px solid #CCC;  
  border-left:1px solid #BBB;  
  background: #FFE;
}

.td-cellscript {
  border-top:1px solid #CCC;  
  background: #FFF;
}

.diffnomatch {
  background: #FDD;
}

.diffnew {
  background: #DFD;
}

.diffold {
  background: #EEE;
}

.warning {
  background: #FFC0C0;
}

.soft {
  color: #888;
}